[class*='xbrwsr_marker'] {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.xbrwsr_ui {
  overflow: visible;
  width: 0;
  height: 0;
}

.xbrwsr_ui > * {
  position: absolute;
}

.xbrwsr_vbar {
  z-index: 100000001;
  background-color: rgba(0, 0, 0, .8);
  height: 20px;
}

.xbrwsr_vbar [class^='xbrwsr_action_'] {
  float: left;
  border-left: solid 1px #aaa;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.xbrwsr_vbar [class^='xbrwsr_action_']:hover {
  background-color: rgba(0, 0, 0, 1);
}

[class*='xbrwsr_marker'] {
  z-index: 100000000;
  border: solid 1px #000;
}

.xbrwsr_marker_EXCLUDE  {
  border-color: rgba(170, 0, 0, .9);
  background-color: rgba(170, 0, 0, .9);
}

.xbrwsr_marker_INCLUDE {
  border-color: rgba(51, 51, 51, .9);
  background-color: rgba(51, 51, 51, .9);
  color: #eee;
}

.xbrwsr_info {
  padding: 0 10px 0;
  font-size: small;
}

.xbrwsr_action_expand {
  background-image: url(../img/nav_right.png);
}

.xbrwsr_action_collapse {
  background-image: url(../img/nav_left.png);
}

.xbrwsr_action_widen {
  background-image: url(../img/full_enter.png);
}

.xbrwsr_action_narrow {
  background-image: url(../img/full_exit.png);
}

.xbrwsr_action_delete {
  background-image: url(../img/trash.png);
}

.xbrwsr_hide {
  display: none;
}


